loki:
  schemaConfig:
    configs:
      - from: "2025-02-15"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    bucketNames:
      chunks: guido-prova
      ruler: guido-prova
      admin: guido-prova
    type: s3
    s3:
      endpoint: "s3.eu-south-1.wasabisys.com"
      accessKeyId: "DHO4CC2STR5YHJEAPWA1"
      secretAccessKey: "3Ijs0MjZvGQ4PlJGJlJTOeHMnCNDOVBT5AzivnkR"
      region: "eu-south-1"
      s3ForcePathStyle: false
      insecure: false

  limits_config:
    ingestion_rate_mb: 10
    ingestion_burst_size_mb: 20
    volume_enabled: true
    max_entries_limit_per_query: 10000
    reject_old_samples_max_age: 72h
    retention_period: 72h

  ingester:
    chunk_encoding: snappy
    max_chunk_age: 2h

  querier:
    max_concurrent: 8

  query_range:
    align_queries_with_step: true
    cache_results: true
    results_cache:
      cache:
        embedded_cache:
          enabled: true
          max_size_mb: 500

  auth_enabled: false

  commonConfig:
    replication_factor: 1

gateway:
  verboseLogging: false
  nginxConfig:
    resolver: "rke2-coredns-rke2-coredns.kube-system.svc.cluster.local valid=30s"

deploymentMode: SimpleScalable

backend:
  replicas: 1
  persistence:
    size: 5Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
read:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
write:
  replicas: 1
  persistence:
    size: 5Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

minio:
  enabled: false

# Ridurre risorse memcached per ambiente lab
chunksCache:
  enabled: true
  replicas: 1
  resources:
    requests:
      cpu: 20m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

resultsCache:
  enabled: true
  replicas: 1
  resources:
    requests:
      cpu: 20m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

# Zero out replica counts of other deployment modes
singleBinary:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
