fullnameOverride: pg-wikijs
version:
  postgresql: "15"
cluster:
  instances: 3
  storage:
    size: 5Gi
    storageClass: ""
  initdb:
    database: wikijs
    owner: wikijs
    secret:
      name: wikijs-db-credentials
backups:
  enabled: true
  provider: s3
  endpointURL: "https://s3.eu-south-1.wasabisys.com"
  s3:
    region: ""
    bucket: "guido-prova"
    path: "/"
  
    # overwritten by overlay's kustomize
  secret:
    create: false
    name: pg-credentials

  scheduledBackups:
    - name: daily-backup
      schedule: "0 0 0 * * *"
      backupOwnerReference: self

  # Configurazioni aggiuntive per compressione e retention
  compression: gzip
  retentionPolicy: "100d"
  immediateCheckpoint: false
  jobs: 2
